[Unit]
Description=OpenAPS HID service.
After=network.target

[Service]
User=root
WorkingDirectory=/opt/oaps-hid
ExecStart=/opt/oaps-hid/oaps-hid.sh
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

